

li {
  list-style: none;
}

.adm-add-project {
  border: 1px solid #eeeded;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 1px 3px 10px 1px #c8c7c7;
  -webkit-box-shadow: 1px 3px 10px 1px #c8c7c7;
  -moz-box-shadow: 1px 3px 10px 1px #c8c7c7;
  box-sizing: border-box;
}

.adm-create-project-title {
  font-size: 17px;
  color: #5c5a5a;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.adm-create-project-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-userproject-title {
  color: #555555;
  font-weight: 500;
  font-size: 13px;
}

input[type='text'] {
  border: 1px solid #c8c7c7;
  border-radius: 5px;
  margin: 7px;
  padding: 15px;
}

input[type='checkbox'] {
  margin-right: 10px;
  border: 10px solid #555555;
}

.add-user-check {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  margin-top: 10px;
  color: #555555;
  font-size: 13px;
}

.btn-enviar {
  background-color: #04bb9b;
  width: 100%;
  border-radius: 5px;
  border: transparent;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px;
}

.project-radios {
  color: #555555;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  font-size: 13px;
  margin: 20px 0;
  vertical-align: middle;
}

input[type='radio'] {
  margin: auto 0;
}

#info {
  color: #cecece !important;
}

textarea {
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.form-campos {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 15px;
}

#calendario {
  border: 1px solid #c8c7c7;
  border-radius: 5px;
  font-size: 13px;
  padding: 7px 9px;
  color: #5c5a5a;
  font-weight: 700;
}
